<main class="searcher__main">
<h1 class="searcher__tittle">Buscador de series</h1>

<form class="searcher js-form" action="">
  <input placeholder="Titulo de la serie" type="text" class="js-input searcher__input">
  
  <input type="button" value="Buscar" class="js-button searcher__input--button" />
  <input class="js-logbutton" type="button" value="LOG">
</form>
  <div class="container">
    <section class="searcher__section">
      <ul class="js-result searcher__output">
      </ul>
    </section>
    <section class="vipsection js-favouritesection">
     
    </section>
  </div>
 

</main>
