<main class="page__main">
<h2 class="searcher__tittle">El mejor buscador de series</h2>

<form class="searcher js-form" action="">
  <input placeholder="Titulo de la serie" type="text" class="js-input searcher__input">
  
  <input type="button" value="Buscar" class="js-button" />
</form>
  <div class="container">
    <section class="searcher__output">
      <ul class="js-result">
      </ul>
    </section>
    <section class="vipsection js-favouriteshows">
     
    </section>
  </div>
 <!-- <ul>
  <li> <h3></h3> </li>
  <li> <h3></h3></li>
  <li> <h3></h3><img src="" alt=""></li>
  <li> <h3></h3><img src="" alt=""></li>
  <li> <h3></h3><img src="" alt=""></li>
  <li> <h3></h3><img src="" alt=""></li>
  <li> <h3></h3><img src="" alt=""></li>
  <li> <h3></h3><img src="" alt=""></li>
  <li><h3></h3><img src="" alt=""></li>
  <li><h3></h3><img src="" alt=""></li>
</ul -->

</main>
