.to-apply-all {
  background: linear-gradient(to right, blue, pink);
}
.alert {
  font-size: 20px;
  color: rgb(8, 8, 8);
  font-weight: bold;
}
.colorVIP {
  border: 4px solid rgb(15, 6, 138);
  border-style: dotted;
  max-width: fit-content;
  &__VIPsection {
    border: 4px solid rgb(240, 236, 35);
    border-style: dashed;
  }
}
.cover {
  margin-top: 20px;
}
.container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.vipsection {
  order: (-1);
  text-align: center;
}

.searcher {
  display: flex;
  flex-direction: raw;
  margin: 20px 0 30px 20px;
  &__tittle {
    text-align: center;
    margin: 25px;
    text-transform: uppercase;
  }
  &__input {
    height: 28px;
    width: 30em;
    margin-right: 20px;
    border: pink solid 2px;
    &--button {
      width: 10em;
      height: 28px;
      box-sizing: border-box;
      background-color: pink;
      border: none;
      box-shadow: 2px 2px 2px 2px pink;
      font-family: 'Courier New', Courier, monospace;
      font-size: 1em;
      padding-top: 2px;
    }
  }
  &__output {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 50vw;
  }

  &__main {
    height: 100vh;
  }
}
.reset-button{
  width: 5em;
      height: 20px;
      box-sizing: border-box;
      background-color: pink;
      border: none;
      box-shadow: 2px 2px 2px 2px pink;
      font-family: 'Courier New', Courier, monospace;
      font-size: 1em;
      padding-top: 2px;
      margin:10px 0px 10px 0px;

}

.x-button{
  width: 25px;
  height: 25px;
  border-radius: 80%;
  text-align: center;
  
}