.colorVIP {border: 3px solid palevioletred;
max-width: fit-content;}
.container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}

.vipsection{
    order: (-1);
    text-align: center;
}
